* {
    box-sizing: border-box; 
    margin: 0;
}

body {
    margin: 1.2rem;
}


/* slide */
.slideshow {
    display: flex;
    flex-direction: column;
    height: 42rem;
    background-image: url("images/slide1.jpg");
}

/* header */
header {
    display: flex;
    gap: 4rem;
    border: 2px solid red;
}

header .logo {
    margin-top: 0.8rem;
    margin-left: 6rem;
}

header ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 4rem;
}

a {
    text-decoration: none;
    color: white;
    font-family: "Source Sans Pro";
    font-size: 14px;
}

.slideshow .content {
    height: 100%;
    border: 2px solid yellow;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.text {
    border: 2px solid greenyellow;
    margin-right: 10rem;
    width: 350px;
    height: 200px;
}

.header-text {
    font-size: 3rem;
}

.sub-text {
    font-style: italic;
}





















.btn {
    background: none;
    width: 1.5rem;
    height: 2rem;
}

.left {
    position: absolute;
    left: 1.2rem;
}

.right {
    position: absolute;
    right: 1.2rem;
}